* {
  font-family: 'Source Sans Pro', sans-serif;
}

.flex{
  display: flex;
}
.flex.col{
  flex-direction: column;
}
.flex.row{
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
}

.loader {
  border: 10px solid #626981; /* Light grey */
  border-top: 10px solid #C3CAE1; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.PictureGrid img {
  height: 200px;
}
